<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body>  
  <%- include ("../partials/alert.ejs") %>
  <section class="banner simple">
    <ol class="breadcrumb bg-mb">
      <li class="breadcrumb-item">
        <a href="/pt" class="text-decoration-none">Início</a>
      </li>
      <li class="breadcrumb-item active">Admin</li>
    </ol>
  </section>

  <section class="container">
    <div class="column">
      <div class="container">
        <div class="flex-grow-1 p-2">
          <img src = "/uploads/logopenumbra.png" class="muted rounded mx-auto d-block" alt="Responsive image" width="100">
          <h4 align="center">Categorias</h4>
          <div class="d-grid gap-2">
            <a href="/admin/new-category" class="text-decoration-none btn btn-outline-dark">Criar nova Categoria</a>
            <a href="/admin/categories" class="text-decoration-none btn btn-outline-dark">Gerenciar Categorias</a>
          </div>
        </div>
        
        <div class="flex-grow-1 p-2">
          <img src = "/uploads/logopenumbra.png" class="muted rounded mx-auto d-block" alt="Responsive image" width="100">
          <h4 align="center">Artigos</h4>
          <div class="d-grid gap-2">
            <a href="/admin/new-article" class="text-decoration-none btn btn-outline-dark">Criar Artigo</a>
            <a href="/admin/articles" class="text-decoration-none btn btn-outline-dark">Gerenciar Artigos</a>
          </div>
        </div>
      </div>
      
      <% if (session.user){%>
        <% if (session.user.type == "Master"){%>
          <div class="p-4">
            <img src = "/uploads/logopenumbra.png" class="muted rounded mx-auto d-block" alt="Responsive image" width="100">
            <h4 align="center">Usuários</h4>
            <div class="d-grid gap-2">
              <a href="/admin/register" class="text-decoration-none btn btn-outline-dark">Criar Usuario</a>
              <a href="/admin/users" class="text-decoration-none btn btn-outline-dark">Gerenciar Usuarios</a>
            </div>
          </div>
        <%}%>  
      <%}%>
    </div>
  </section>
</body>

<%- include ("../partials/footer.ejs") %>