<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body class = "body">  

    <div class="container cb mt-2 mb-2">
 
      <h1 class="mt-4 mb-3">Admin
        <small>Painel de Administrador</small>
      </h1>
  
      <ol class="breadcrumb bg-mb">
        <li class="breadcrumb-item">
          <a href="/pt" class="text-decoration-none">Início</a>
        </li>
        <li class="breadcrumb-item active">Admin</li>
      </ol>

      <%- include ("../partials/alert.ejs") %>
      
    <h4 align="center">Categorias</h4>
    <a href="/admin/new-category" class="text-decoration-none"><button class="btn btn-vernesis btn-block mb-4">Criar nova categoria</button></a>
    <a href="/admin/categories" class="text-decoration-none"><button class="btn btn-vernesis btn-block mb-4">Gerenciar categorias</button></a>
    <h4 align="center">Artigos</h4>
    <a href="/admin/novo-article" class="text-decoration-none"><button class="btn btn-vernesis btn-block mb-4">Criar Artigo PT</button></a>
    <a href="/admin/new-article" class="text-decoration-none"><button class="btn btn-vernesis btn-block mb-4">Criar Artigo EN</button></a>

  
    </div>
    <!-- /.container -->
</body>

<%- include ("../partials/footer.ejs") %>