<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body class = "body">  
    <div class="container cb mt-2 mb-2">
  
      <h1 class="mt-4 mb-3">Admin
        <small>Nova Categoria</small>
      </h1>
  
      <ol class="breadcrumb bg-mb">
        <li class="breadcrumb-item">
          <a href="index.html">Início</a>
        </li>
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item active">Nova Categoria</li>
      </ol>
      
      
  
    </div>
    <!-- /.container -->
</body>

<%- include ("../partials/footer.ejs") %>