<%- include ("../partials/header.ejs") %>
<body>  
  <div class="loginform">
    <form method="POST" action="/admin/auth">
        <div class="column">
          <label class="mb-2">
            E-mail
            <input type="email" class="form-control" name="email">
          </label>

          <label class="mb-2">
            Senha
            <input type="password" class="form-control" name="password">
          </label>

        </div>
        <div class="g-recaptcha mt-2 mb-2" align="center" data-sitekey="6LfRVM8ZAAAAAFJVEM3FlmrJH0U4gPqqpVA0H_H5"></div>
        <button type="submit" class="btn btn-outline-dark btn-block">Entrar</button>
    </form>
  </div>
  <%-include ("../partials/scripts.ejs") %>
</body>