<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>

<body>
  <section class="banner simple">
    <ol class="breadcrumb bg-mb">
      <li class="breadcrumb-item">
        <a href="/pt" class="text-decoration-none">Início</a>
      </li>
      <li class="breadcrumb-item">
          <a href="/admin" class="text-decoration-none">Admin</a>
        </li>
      <li class="breadcrumb-item active">Novo Administrador</li>
    </ol>
  </section>

  <section class="container">
    <form method="POST" action="/admin/register" class="w-100">
      <div class="column">
        <label>
          E-mail
          <input type="email" class="form-control" name="email">
        </label>
        
        <label>
          Senha
          <input type="password" class="form-control mb-2" name="password">
        </label>

        <div class="d-grid">
          <button class="btn btn-outline-dark">Enviar</button>
        </div>
      </div>
    </form>
  </section>
  
  <%- include ("../partials/scripts.ejs") %>
</body>
