<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body class="body">
    <header>
      <div class="container mt-4 mb-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
              <div class="carousel-caption d-none d-md-block">
                <p class="black-text">"O céu noturno... estrelas cadentes, nada mais disso é sinônimo de esperança nesse lugar."<br><br>

                  Um MMORPG sandbox de fantasia.</p>
              </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second Slide</h3>
                <p>This is a description for the second slide.</p>
              </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third Slide</h3>
                <p>This is a description for the third slide.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      </header>
    
      <!-- Page Content -->
      <div class="container cb mb-4">
    
        <h1 class="my-4">Bem vindo a Vernesis Online!</h1>
    
        <!-- Marketing Icons Section -->
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card h-100">
              <h4 class="card-header">Lute!</h4>
              <div class="card-body">
                <p class="card-text" align="justify">Enfrente outros jogadores no mundo vasto de Vernesis, demonstre suas habilidades em batalhas empolgantes e desafiadoras.<br> <br>

                  Junte-se a ou crie uma guilda, trabalhe sua reputação e enfrente outras guildas para conquistar o seu lugar em Vernesis. <br> <br>
                  
                  Desbrave territórios perigosos em busca de tesouros, enfrentando as diversas criaturas que habitam esse universo!</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">Leia mais...</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card h-100">
              <h4 class="card-header">Domine!</h4>
              <div class="card-body">
                <p class="card-text" align="justify">Conquiste os poderes estelares para obter o domínio sobre suas habilidades. Obtenha o poder dos elementos da natureza, das constelações e muito mais. <br><br>

                  Encontre a combinação de equipamentos e habilidades que mais se encaixa com o seu perfil de luta e oblitere os seus inimigos!</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">Leia mais...</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card h-100">
              <h4 class="card-header">Desbrave!</h4>
              <div class="card-body">
                <p class="card-text" align="justify">Aventure-se por esse mundo rico em contos, histórias e perigos incríveis.<br><br>

                  Enfrente as perigosas masmorras e conquiste os seus segredos após desafios empolgantes.<br><br>
                  
                  Conquiste sua reputação e desvende os segredos escondidos há muito tempo.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">Leia mais...</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card h-100">
              <h4 class="card-header">Personalize!</h4>
              <div class="card-body">
                <p class="card-text" align="justify">Sinta-se livre para aproveitar todos os tipos de poderes, não ficará preso as suas escolhas. Será livre para mudar quando desejar, você será o que usar.<br><br>

                  Explore as possibilidades de customização em características e roupas. É importante estar fabuloso!</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">Leia mais...</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->

</body>
<%- include ("../partials/footer.ejs") %>