<% msgSuccess.forEach(msg => {%>
        <div class="alert alert-success mt-2" role="alert">
            <%= msg.text %>
            <img src="close.soon" style="display:none;" onerror="(function(el){ setTimeout(function(){ el.parentNode.parentNode.removeChild(el.parentNode); },5000 ); })(this);" />
        </div>
<%})%>
        

<% msgError.forEach(msg => {%>
    <div class="alert alert-danger mt-2" role="alert" auto-close="1000">
        <%= msg.text %>
        <img src="close.soon" style="display:none;" onerror="(function(el){ setTimeout(function(){ el.parentNode.parentNode.removeChild(el.parentNode); },5000 ); })(this);" />
    </div>
<%})%>

<script>
    function alertTimeout(wait){
        setTimeout(function(){
            $('#alert_placeholder').children('.alert:first-child').remove();
        }, wait);
    }
</script>