<nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top bg-vernesis">
  <div class="container bg-vernesis">
    <a class="navbar-brand" href="/eng">Vernesis</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/eng/about">
            <i class="fas fa-address-card"></i> About us
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-globe"></i> Universe
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="/eng/world">The world</a>
            <a class="dropdown-item" href="/eng/uria">Uria</a>
            <a class="dropdown-item" href="/eng/nidheim">Nidheim</a>
            <a class="dropdown-item" href="/eng/kaus">Kaus</a>
            <a class="dropdown-item" href="/eng/noh">Noh</a>
            <a class="dropdown-item" href="/eng/silverwater">Silverwater</a>
          </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-newspaper"></i> News
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
            <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
            <a class="dropdown-item" href="blog-post.html">Blog Post</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-language"></i> Language
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
          <a class="dropdown-item" href="/pt">Portuguese</a>
          <a class="dropdown-item" href="/eng">English</a>
        </div>
      </ul>
    </div>
  </div>
</nav>