  <footer>
    <div class="container column">
        <div class="footer_menu">
            <div class="fm1">
                <h5>Social Media</h5>
                <a href="https://discord.com/invite/tDaewdb" class="text-decoration-none white"><i class="fab fa-discord"></i> Discord</a>
                <a href="https://www.instagram.com/vernesisonline/" class="text-decoration-none white"><i class="fab fa-instagram"></i></i> Instagram</a>
                <a href="https://www.youtube.com/channel/UCuiOFDG_g6FUPRNoot2OUfw" class="text-decoration-none white"><i class="fab fa-youtube"></i></i> Youtube</a>
                <a href="https://www.facebook.com/vernesis" class="text-decoration-none white"><i class="fab fa-facebook-square"></i> Facebook</a>
              </div>
            <div class="fm2">
                <h5>Support Us</h5>
                <p><a href="https://www.patreon.com/vernesis" class="text-decoration-none white"><i class="fab fa-patreon"></i> Patreon</a></p>
            </div>
            <div class="fm3">
                <h5>E-mail</h5>
                <p>vernesisonline@gmail.com</p>
            </div>
        </div>

        <div class="footer_copy">
            @Copyright Penumbra Games 2021 - Todos os direitos reservados
        </div>
    </div>
</footer>
</html>