<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="og:url" content="http://vernesis.com/">
  <meta property="og:type" content="games">
  <meta property="og:title" content="Vernesis Online">
  <meta property="og:description" content="Vernesis Online is a game for RPG players who enjoy new challenges and good stories. Vernesis is a 2D sandbox MMORPG that embraces players who enjoy historical, systematic and visual content as opposed to traditional games with stuck gameplay and difference based on levels. Vernesis provides an immersive world where skilled players are able to change the whole story to their advantage.">
  <meta property="og:image" content="/uploads/vernesis.png">

  <link rel="icon" href="/uploads/vernesis.png">
  <title>Vernesis Online</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!--Custom styles for this template-->
  <link href="/fontawesome/css/all.min.css" rel="stylesheet">
  <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>