<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="/uploads/vernesis.png">
  <title>Vernesis Online</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!--Custom styles for this template-->
  <link href="/css/modern-business.css" rel="stylesheet">
  <link href="/fontawesome/css/all.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>