<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/uploads/vernesis.png">
  <title>Vernesis Online</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!--Custom styles for this template-->
  <link href="/fontawesome/css/all.min.css" rel="stylesheet">
  <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>