<nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top bg-vernesis">
    <div class="container bg-vernesis">
      <a class="navbar-brand" href="/pt">Vernesis</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/pt/sobre">
              <i class="fas fa-address-card"></i> Sobre nós
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-globe"></i> Universo
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="/pt/mundo">O Mundo</a>
              <a class="dropdown-item" href="/pt/uria">Uria</a>
              <a class="dropdown-item" href="/pt/nidheim">Nidheim</a>
              <a class="dropdown-item" href="/pt/kaus">Kaus</a>
              <a class="dropdown-item" href="/pt/noh">Noh</a>
              <a class="dropdown-item" href="/pt/silverwater">Silverwater</a>
            </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-newspaper"></i> Notícias
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <% categories.forEach (function(category) {%>
                <a class="dropdown-item" href="/pt/<%= category.slug_pt %>"><%=category.title_pt %></a>
              <%})%>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-language"></i> Idioma
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="/pt">Português</a>
            <a class="dropdown-item" href="/eng">Inglês</a>
          </div>
        </ul>
      </div>
    </div>
  </nav>