.body{
    background-image: url("/uploads/vernesislogo.png");
    background-position: 50% 50% !important;
	background-size: cover !important;
	background-color: transparent !important;
	background-attachment: fixed !important;
}

.cb{
    background-color: white;
    margin: 0 auto;
	width: 1080px;
    padding: 0 20px 0 26px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 6px solid #4B0082;
    opacity: 0.98;
}

.bg-vernesis{
    background-color: #4B0082;
}

/**BLOCOS**/
.block-creatures{
    border-radius: 20px;
    margin: 0 auto;
    background-color: rgb(205,92,92);
    opacity: 0.9;
}

.block-urianos{
    border-radius: 20px;
    margin: 0 auto;
    background-color: #3CB371;
    opacity: 0.9;
}

.block-nidlebens{
    border-radius: 20px;
    margin: 0 auto;
    background-color: #87CEFA;
    opacity: 0.9;
}

.block-kaoenses{
    border-radius: 20px;
    margin: 0 auto;
    background-color: #F4A460;
    opacity: 0.9;
}

.block-nohitas{
    border-radius: 20px;
    margin: 0 auto;
    background-color: rgb(0,128,128);
    opacity: 0.9;
}

.block-silverwater{
    border-radius: 20px;
    margin: 0 auto;
    background-color: rgb(70,130,180);
    opacity: 0.9;
}


/**FONTES**/
p{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(17, 17, 17);
}

h5{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(17, 17, 17);
}

text{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(17, 17, 17);
}

.text-vernesis{
    color: #4B0082;
    font-weight: bolder;
}

.text-uria{
    color: #3CB371;
    font-weight: bolder;
}

.text-nidheim{
    color: #87CEFA;
    font-weight: bolder;
}

.text-kaus{
    color: #F4A460;
    font-weight: bolder;
}

.red{
    color: #CD5C5C ;
}

.white{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
}

.bg-mb{
    background-color: rgb(138, 176, 171);
}

.bg-eb{
    background-color: rgb(26, 29, 26);
}

.black{
    color: black;
}

h4{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
}

h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
}

a{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white
}