*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

p{
    text-align: justify;
}

a{
    color: #ffffff;
    transition: 0.55s;
}

a:hover{
    color: #757575;
}

body{
    margin: 0;
    padding: 0;
}

/*NAVIGATION*/

.logo img{
    width: 80px;
}

nav{
    width: 100%;
    align-items: center;
}


nav li a:hover,
nav ul a:hover{
    color: indigo !important;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
}

.container{
    display: flex;
    width:990px;
    justify-content: space-between;
    margin-bottom: 10px;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../uploads/Vernesis-BG.png');
    background-position: center;
    background-size: cover;
    height: calc(100vh - 100px);
}

.column{
    display: flex;
    flex-direction: column;
}

textarea{
    height: 500px;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0 px;
    max-width: 350px;
}

.banner_headline h2{
    color: white;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0 px;
    max-width: 350px;
}

.banner_options{
    height: 130px;
    display: flex;
}

.banner1,
.banner2,
.banner3{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding: 20px;
    transition: 0.5s;
}

.fm1,
.fm2,
.fm3{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #ffffff;
    padding: 20px;
    transition: 0.5s;
}

.banner1:hover,
.banner2:hover,
.banner3:hover{
    background-color: indigo;
}

.banner1{
    background-color: blueviolet;
}

.banner2{
    background-color: rgb(129, 26, 224);
}

.banner3{
    background-color: rgb(117, 0, 226);
}

.banner_title{
    font-size: 21px;
    text-align: center;
}

.banner_desc{
    font-size: 12px;
}

.banner_options a{
    display: inline-block;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

/* FEATURES */
.flexWrap{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.postagens{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.widget{
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: 320px;
    max-width: 450px;
    padding: 5px;
}

.widget_title_text{
    color:#000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: indigo;
    margin-top: 10px;
}

.widget_title_body{
    margin-right: 8px;
}

#features{
    display: flex;
    justify-content: center;
}

/* DIVISÃO E RESUMOS */

#resumes{
    display: flex;
    justify-content: center;
}

.division{
    display: flex;
    justify-content: center;
}

.intro{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5c5c5c;
    border-bottom: 1px solid #adadad;
}

.card{
    width: 300px;
    margin: 8px;
    border: 1px solid #555555;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.95;
    transition: 0.5s;
}

.card:hover{
    opacity: 1;
    transform: scale(1.05);
}

.card_title{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.card_body{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
    text-align: justify;
}

/* FOOTER */
footer{
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer_menu{
    display: flex;
    justify-content: center;
}

.fm1{
    background-color: blueviolet;
}

.fm2{
    background-color: rgb(129, 26, 224);
}

.fm3{
    background-color: rgb(117, 0, 226);
}

.footer_copy{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mm_line{
    height: 3px;
    background-color: black;
}

.banner{
    height: calc(100vh - 100px);
    display: flex;
    background-color: indigo;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.simple{
    height: 80px;
}

ol.breadcrumb a:hover{
    color: #757575;
}

.breadcrumb-item{
    color: #000;
}

.post_link{
    text-decoration: none;
    color: #000;
}

.post_link:hover{
    color: #000;
}

.post_img,
img{
    width: 100%;
}

img.muted{
    width: 100px;
}

.post{
    margin: 10px;
    min-width: 300px;
    max-width: 300px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post_title h4{
    min-height: 50px;
    max-height: 100px;
}

.post_bar{
    width: 70px;
    height: 2px;
    background-color: indigo;
    margin-top: 10px;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color:#757575;
}

/*MEDIA*/

@media (max-width: 600px){
    #banner{
        background-image: url('../uploads/vernesis_mobile.png');
        background-position: center;
        background-size: cover;
    }
    
    .banner_headline{
        padding: 20px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }

    .container{
        width: 100vw;
        flex-direction: column;
    }

    #geral section{
        padding: 20px
    }

    .footer_menu{
        flex-direction: column;
    }

    .footer_copy{
        padding:20px;
    }

    header .container{
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px;
    }

    header{
        height: auto;
    }

    .logo{
        padding-left: 20px;
    }

    video,
    iframe{
        width: 100%;
        height: 100%;
    }
}