<%- include ("../partials/header.ejs") %>
<%- include ("../partials/engnavbar.ejs") %>
<body class="body">
    <!-- Page Content -->
  <div class="container cb mt-2 mb-2">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Sobre
      <small>Penumbra Games</small>
    </h1>

    <ol class="breadcrumb bg-mb">
      <li class="breadcrumb-item">
        <a href="/eng" class="text-decoration-none">Home</a>
      </li>
      <li class="breadcrumb-item active">About us</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
          <div class="container bg-eb rounded">
            <img class="img-fluid" src="/uploads/logopag.png" alt="Responsive image" width="720" height="400">
          </div>
      </div>
      <div class="col-lg-6">
        <h2>Penumbra Games</h2>
        <p  align="justify">Penumbra Games is a Brazilian indie game development studio created in September 2019 along with the idea of ​​Vernesis, this being our first of many games.</p>
        <p  align="justify">Our team is made up of talented game lovers who are driven by an intense passion for digital entertainment. We seek to bring a combination of innovative and exciting mechanics to the 2D world, where we will create games that everyone can be proud to play.</p>
      </div>
      <div class="container mt-1">
        <p align="justify">We believe that the gaming universe is much more than digital entertainment. For us, this universe is not only capable of bringing fun, but it is also where you can make friends, create unique moments and even learn important things to use on a daily basis.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our team</h2>

    <div class="row">
      <div class="col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top rounded" src="/uploads/kaio.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Kaio Borges</h4>
            <h6 class="card-subtitle mb-2 text-muted">Programmer and Game Design</h6>
            <p class="card-text text-justify">Kaio Borges is responsible for all lines of code in the projects. Since he was young, he always had a lot of contact with games and technology, resulting in entering a graduation in the area and studying a lot about game development. He is currently an Information Systems student at the State University of Bahia and with Rafael Araújo, brought together the team called Penumbra Games. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top rounded" src="/uploads/logopenumbra.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Rafael Araújo</h4>
            <h6 class="card-subtitle mb-2 text-muted">Artist & Animation</h6>
            <p class="card-text">Coming soon...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top rounded" src="/uploads/logopenumbra.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Ygor Ferrari</h4>
            <h6 class="card-subtitle mb-2 text-muted">Head Admin and Composer</h6>
            <p class="card-text">Coming soon...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top rounded" src="/uploads/logopenumbra.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Matheus Soares</h4>
            <h6 class="card-subtitle mb-2 text-muted">Head Admin</h6>
            <p class="card-text">Coming soon...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top rounded" src="/uploads/guilherme.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Guilherme Lopes</h4>
            <h6 class="card-subtitle mb-2 text-muted">Artist & Animation</h6>
            <p class="card-text text-justify">Guilherme is a young man who, since he was a child, had a lot of contact with the world of the arts, having a great appreciation for this area. Since then he started to use his free time to make drawings and improve his art, first on paper and later with pixel art. In Vernesis, he is responsible for the artistic part,
              involving the creation of sprites and animations, along with other members of the group. <i class = "fas fa-thumbs-up"></i></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top rounded" src="/uploads/logopenumbra.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Gabriel Vinícius</h4>
            <h6 class="card-subtitle mb-2 text-muted">Admin</h6>
            <p class="card-text">Coming soon...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top rounded" src="/uploads/logopenumbra.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Vinicius</h4>
            <h6 class="card-subtitle mb-2 text-muted">Content & Narrative</h6>
            <p class="card-text">Coming soon...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top rounded" src="/uploads/logopenumbra.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Viktoria</h4>
            <h6 class="card-subtitle mb-2 text-muted">Artist & Animation</h6>
            <p class="card-text">Coming soon...</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</body>
<%- include ("../partials/footer.ejs") %>