<%- include ("../partials/header.ejs") %>
<%- include ("../partials/engnavbar.ejs") %>
<body class = "body">
    <div class = "container cb mt-2 mb-2">

        <ol class = "breadcrumb bg-mb mt-4">
        <li class = "breadcrumb-item">
            <a href="/en" class="text-decoration-none"> Home </a>
        </li>
        <li class = "breadcrumb-item"> Universe </li>
        <li class = "breadcrumb-item active"> Kaus </li>
        </ol>
        <h4 align = "center"> <text class = "text-kaus"> Kaus </text> </h4>
        <p align = "justify"> The power of the stars is, without any shadow of a doubt, a divine gift. Without another appropriate explanation, it becomes evident that the gods, after so many millennia, finally recognized the merits of men and were willing to go against them. Any act less than profound gratitude is blasphemy and a Kaus theocracy must use, without scruples, the gifts bestowed on humanity by the gods, which is his own presence. </p>
        <p align = "justify"> The jackal is the animal that usually digs up bones and keeps them. As well as the same, the citizens of Kaus also intend to “dig up” the stars and specifically with them. If power is present there, it is evidently to be used and to deny it would be nothing more than pure arrogance, since the true humble man is unworthy to refuse something presented by the superior. As a consequence, they will devote themselves; and in service those who deigned to grant what is pure to those who are unworthy. </p>

        <img src = "/uploads/logopenumbra.png" class = "rounded mx-auto d-block mb-1" alt = "Responsive image" width = "100">
        
        <h4 align = "center"> <text class = "text-kaus"> Kaus: </text> Australism </h4>
        <p align = "justify"> Australism is a well-structured religion with a hierarchical system for each of the 11 major gods. Each god is associated with 1 animal and 8 aspects, or domain. For each aspect, there is a short story with a moral lesson and a prayer (88 in total); For each god, there is 1 divine law. </p>
        <p align = "justify"> A citizen worships all 11 gods, but a priest is dedicated exclusively to one. Normally, each god has 1 separate temple, but there are cases where a single temple houses up to 3 or 4 gods - for budgetary reasons. Above that, only the exceptions of 1 parish house all 11 gods, but this is not advised. </p>
        <p align = "justify"> The gods are represented with the body of a person and the head of an animal; an anthropomorphic animal or a person in animal clothing. Below, a list of gods and their aspects without the following pattern: God - His Animal, name given to his priest </p>
        <div class = "row">
            <div class = "col-lg-4 mb-4">
                <h5> 1. Ura - Leo (Urian) </h5>
                <text> a. Justice </text> <br>
                <text> b. Temperance </text> <br>
                <text> c. Fatherhood </text> <br>
                <text> d. War </text> <br>
                <text> e. Kings </text> <br>
                <text> f. Protection of assets </text> <br>
                <text> g. Strategy </text> <br>
                <text> h. Honesty </text> <br>
                <p align = "justify"> Ura is the king of gods and the god of kings; It represents paternity, justice, physical protection, honesty and everything that is considered necessary to be a good leader. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 2. Frain - Coelho (Franiano) </h5>
                <text> a. Fertility </text> <br>
                <text> b. Wedding </text> <br>
                <text> c. Family Protection </text> <br>
                <text> d. Advice </text> <br>
                <text> e. Peace </text> <br>
                <text> f. Life </text> <br>
                <text> g. Childbirth </text> <br>
                <text> h. Beauty </text> <br>
                <p align = "justify"> Frain is Ura's wife; Beautiful, imposing and wise, it represents motherhood, beauty, femininity, life and discernment towards others. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 3. Iort - Jackal (Iortian) </h5>
                <text> a. Secrets </text> <br>
                <text> b. Cunning </text> <br>
                <text> c. Discord </text> <br>
                <text> d. Death </text> <br>
                <text> e. Messages </text> <br>
                <text> f. Luck </text> <br>
                <text> g. Lie </text> <br>
                <text> h. Illusion </text> <br>
                <p align = "justify"> Iorte is Frain's brother; Although not necessarily bad, he is the least loved and most detested god, since he represents lies, illusion, discord, death and secrets. It is the god you send to visit your enemies. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 4. Prafo - Owl (Prafiano) </h5>
                <text> a. Teaching </text> <br>
                <text> b. Magic </text> <br>
                <text> c. Writing </text> <br>
                <text> d. Medicine </text> <br>
                <text> e. Painting </text> <br>
                <text> f. Sciences </text> <br>
                <text> g. Laws </text> <br>
                <text> h. Creativity </text> <br>
                <p align = "justify"> Prafo is the firstborn son of Ura and Frain and his successor to the throne; He has the mother's restraint and wisdom, and the father's sense of duty, represents the teachings, magic, science, writing, the creation of laws (human and divine) and is the father's chief advisor. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 5. Ostun - Bonobo (Ostunian) </h5>
                <text> a. Music </text> <br>
                <text> b. Games </text> <br>
                <text> c. Drink </text> <br>
                <text> d. Party </text> <br>
                <text> e. Holidays </text> <br>
                <text> f. Jokes </text> <br>
                <text> g. Recreational Sex </text> <br>
                <text> h. Theater </text> <br>
                <p align = "justify"> Ostun is the only son of Iorte and Faipon; Unpretentious like his father, he lives drinking, playing and having fun. Unlike his ascendant, Ostun is much loved (at least among the youngest) and hated by the old and archaic. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 6. Faipon - Hyena (Faiponian) </h5>
                <text> a. Trade </text> <br>
                <text> b. Money </text> <br>
                <text> c. Economy </text> <br>
                <text> d. Dialectic </text> <br>
                <text> e. Plenty of food </text> <br>
                <text> f. Spices </text> <br>
                <text> g. Ambition </text> <br>
                <text> h. Opportunism </text> <br>
                <p align = "justify"> Faipon is Iorte's wife and Ura's sister; He knows how to convince people, bargains like no one else, he has good money management and all forms of wealth have been granted by him. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 7. Samko - Bear (Samkiano) </h5>
                <text> a. Nature </text> <br>
                <text> b. Travel </text> <br>
                <text> c. Roads </text> <br>
                <text> d. Hunting </text> <br>
                <text> e. Flora </text> <br>
                <text> f. Fauna </text> <br>
                <text> g. Natural Elements </text> <br>
                <text> h. Livestock </text> <br>
                <p align = "justify"> Samko is Ura's sister. While the brother decided that he would help men in their day-to-day lives, being present all the time, Samko, who always liked the outdoors more, promised that he would protect them outside the walls, as long as there was a tree, a dirt road or undergrowth by which it could manifest. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 8. Oai - Walrus (Oiano) </h5>
                <text> a. Seas </text> <br>
                <text> b. Navigation </text> <br>
                <text> c. Islands </text> <br>
                <text> d. Cataclysms </text> <br>
                <text> e. Storm </text> <br>
                <text> f. Snow </text> <br>
                <text> g. Strength </text> <br>
                <text> h. Fishing </text> <br>
                <p align = "justify"> Oai is Samko and Fran's eldest son. He always had trouble controlling his fury, so he kept arguing with his hand. Once, she got tired and drove him off the continent. Thus, he dominated the waters and islands. But, as he kept his temper difficult, he always causes storms, cataclysms and horrendous snowfalls. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 9. Etaru - Beaver (Etarian) </h5>
                <text> a. Construction </text> <br>
                <text> b. Joinery </text> <br>
                <text> c. Metallurgy </text> <br>
                <text> d. Tecilaria </text> <br>
                <text> e. Jewelery </text> <br>
                <text> f. Locksmith </text> <br>
                <text> g. Tannery </text> <br>
                <text> h. Dyeing </text> <br>
                <p align = "justify"> Etaru is the youngest son of Samko and Fran and Dupavi's husband. As Samko and Fran hardly stop at home, Etaru was raised in the court of Ura. More specifically, with Prafo. Who guided and taught him many crafts. Thus, Etaru became an excellent craftsman and led the construction of the walls of Kaus in exchange for Dupavi's hand. </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 10. Dupavi - Cat (Dupavian) </h5>
                <text> a. Prophecy </text> <br>
                <text> b. Future </text> <br>
                <text> c. Dream </text> <br>
                <text> d. Destination </text> <br>
                <text> e. Rest </text> <br>
                <text> f. Faith </text> <br>
                <text> g. Protection in the streets and cities </text> <br>
                <text> h. Night protection </text> <br>
                <p align = "justify"> Dupavi is the youngest daughter of Ura and Fraine and wife of Etaru. As most of the antics Iorte and Ostun happened at night, Ura realized that she needed someone to help her through the period. As Prafo was his advisor and Etaru was always attached to him, Dupavi was left to help him. Guaranteeing a good rest for the gods, and night protection for mortals.
                </p>
            </div>
            <div class = "col-lg-4 mb-4">
                <h5> 11. Fran - Pato (Franiano) </h5>
                <text> a. Flight </text> <br>
                <text> b. Curiosity </text> <br>
                <text> c. Multitasking </text> <br>
                <text> d. Calm </text> <br>
                <text> e. Fearless </text> <br>
                <text> f. Concentration </text> <br>
                <text> g. Questions </text> <br>
                <text> h. Past </text> <br>
                <p align = "justify"> Samko's husband and brother to Frain and Iorte. Fran is a quiet god, known for doing many things at the same time, but never losing focus or head. In Kaus, when a son is very different from his parents (usually being very taken) he is called Oai, and Fran's father; as a kind of popular saying or slang. </p>
            </div>
        </div>
        <img src = "/uploads/logopenumbra.png" class = "rounded mx-auto d-block mb-1" alt = "Responsive image" width = "100">
        
            <h4 align = "center"> <text class = "text-kaus"> Kaus: </text> Political System </h4>
            <p align = "center"> Coming soon ... </p>
    </div>
</body>

<%- include ("../partials/footer.ejs") %>