<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body class="body">
    <div class="container cb mt-2 mb-2">

        <ol class="breadcrumb bg-mb mt-4">
        <li class="breadcrumb-item">
            <a href="/pt">Início</a>
        </li>
        <li class="breadcrumb-item">Universo</li>
        <li class="breadcrumb-item active">Kaus</li>
        </ol>
        <h4 align = "center"><text class="text-kaus">Kaus</text></h4>
        <p align="justify">O poder das estrelas é, sem qualquer sombra de dúvidas, um presente divino. Sem haver outra explicação adequada, torna-se evidente que os deuses, após tantos milênios, finalmente reconheceram os méritos dos homens e dispuseram-se a ir de encontro aos mesmos. Qualquer ato menor que a profunda gratidão é uma blasfêmia e a teocracia de Kaus há de utilizar, sem escrúpulos, os presentes concedidos à humanidade pelos deuses, que é a sua própria presença.</p>
        <p align="justify">O chacal é o animal que costumeiramente desenterra os ossos e os guarda. Assim como o mesmo, os cidadãos de Kaus também pretendem “desenterrar” as estrelas e mantê-las junto a si. Se o poder se faz ali presente, evidentemente é para ser utilizado e negá-lo não seria nada além de pura arrogância, uma vez que o verdadeiro humilde se vê indigno de recusar algo presenteado por aquele que é superior. Como consequência, eles hão de se devotar inteiramente ao serviço daqueles que se dignaram a conceder o que é puro àqueles que são indignos.        </p>

        <img src = "/uploads/logopenumbra.png" class="rounded mx-auto d-block mb-1" alt="Responsive image" width="100">
        
        <h4 align = "center"><text class="text-kaus">Kaus:</text> Australismo</h4>
        <p align="justify">O Australismo é uma religião bem estruturada com um sistema hierárquico para cada um dos 11 deuses maiores. Cada deus é associado a 1 animal e 8 aspectos, ou domínio. Para cada aspecto, há um pequeno conto com uma lição de moral e uma oração (88 ao total); Para cada deus, há 1 lei divina.</p>
        <p align="justify">Um cidadão adora a todos os 11 deuses, mas um sacerdote, se dedica exclusivamente a 1 único. Normalmente, cada deus tem 1 templo separado, mas existem casos em que um único templo abriga até 3 ou 4 deuses - por questões orçamentárias. Acima disso, só as poucas exceções de 1 paróquia abrigar todos os 11 deuses, mas isso não é aconselhado.</p>
        <p align="justify">Os deuses são representados com o corpo de pessoa e cabeça de animal; um animal antropomórfico ou uma pessoa com vestes de animal. Abaixo, a lista de deuses e seus aspectos no seguinte padrão: Deus – Seu Animal, nome dado ao seu sacerdote</p>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5>1.          Ura – Leão (Uriano)</h5>
                <text>a.        Justiça</text><br>
                <text>b.        Temperança</text><br>
                <text>c.        Paternidade</text><br>
                <text>d.        Guerra</text><br>
                <text>e.        Reis</text><br>
                <text>f.        Proteção de bens</text><br>
                <text>g. 	    Estratégia</text><br>
                <text>h.	 	Honestidade</text><br>
                <p align="justify">Ura é o rei dos deuses e o deus dos reis; Representa a paternidade, justiça, proteção física, honestidade e tudo o que se considera necessário para ser um bom líder.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>2.          Frain – Coelho (Franiano)</h5>
                <text>a.        Fertilidade</text><br>
                <text>b.        Casamento</text><br>
                <text>c.        Proteção da Família</text><br>
                <text>d.        Aconselhamentos</text><br>
                <text>e.        Paz</text><br>
                <text>f.        Vida</text><br>
                <text>g.        Parto</text><br>
                <text>h. 	    Beleza</text><br>
                <p align="justify">Frain é a esposa de Ura; Linda, imponente e sábia, representa a maternidade, a beleza, a feminilidade, a vida e o discernimento para com os outros.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>3.          Iorte – Chacal (Iortiano)</h5>
                <text>a.        Segredos</text><br>
                <text>b.        Astúcia</text><br>
                <text>c.        Discórdia</text><br>
                <text>d.        Morte</text><br>
                <text>e.        Mensagens</text><br>
                <text>f.        Sorte</text><br>
                <text>g.        Mentira</text><br>
                <text>h. 	    Ilusão</text><br>
                <p align="justify">Iorte é o irmão de Frain; Apesar de não ser necessariamente ruim, é o deus menos amado e o mais detestado, já que representa a mentira, ilusão, discórdia, morte e os segredos. É o deus que você manda visitar os seus inimigos.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>4.   Prafo – Coruja (Prafiano)</h5>
                <text>a.      Ensinamento</text><br>
                <text>b.        Magia</text><br>
                <text>c.        Escrita</text><br>
                <text>d.        Medicina</text><br>
                <text>e.        Pintura</text><br>
                <text>f.        Ciências</text><br>
                <text>g. 	    Leis</text><br>
                <text>h.	 	Criatividade</text><br>
                <p align="justify">Prafo é o filho primogênito de Ura e Frain e seu sucessor ao trono; Tem o comedimento e sabedoria da mãe, e o senso de dever do pai, representa os ensinamentos, magia, ciências, escrita, a criação das leis (humanas e divinas) e é o principal conselheiro do pai.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>5.   Ostun – Bonobo (Ostuniano)</h5>
                <text>a.        Música</text><br>
                <text>b.        Jogos</text><br>
                <text>c.        Bebida</text><br>
                <text>d.        Festa</text><br>
                <text>e.        Feriados</text><br>
                <text>f.        Piadas</text><br>
                <text>g.        Sexo Recreativo</text><br>
                <text>h. 	    Teatro</text><br>
                <p align="justify">Ostun é o filho único de Iorte e Faipon; Despretensioso como o pai, vive bebendo, brincando e se divertindo. Ao contrário de seu ascendente, Ostun é muito amado (pelo menos entre os mais jovens) e odiado pelos velhos e arcaicos.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>6.          Faipon – Hiena (Faiponiano)</h5>
                <text>a.        Comércio</text><br>
                <text>b.        Dinheiro</text><br>
                <text>c.        Economia</text><br>
                <text>d.        Dialética</text><br>
                <text>e.        Fartura de alimentos</text><br>
                <text>f.        Especiarias</text><br>
                <text>g.        Ambição</text><br>
                <text>h. 	    Oportunismo</text><br>
                <p align="justify">Faipon é a esposa de Iorte e irmã de Ura;  Sabe convencer as pessoas, pechincha como ninguém, tem uma boa administração de dinheiro e toda a forma de riqueza foi concedida por ela.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>7.          Samko – Urso (Samkiano)</h5>
                <text>a.        Natureza</text><br>
                <text>b.        Viagens</text><br>
                <text>c.        Estradas</text><br>
                <text>d.        Caça</text><br>
                <text>e.        Flora</text><br>
                <text>f.        Fauna</text><br>
                <text>g. 	    Elementos Naturais</text><br>
                <text>h.	 	Pecuária</text><br>
                <p align="justify">Samko é a irmã de Ura. Enquanto o irmão decidiu que iria ajudar os homens em seu dia-a-dia, estando presente o tempo inteiro, Samko que sempre gostou mais do ar livre, prometeu que os protegeria fora das muralhas, desde que houvesse uma árvore, uma estrada de terra ou vegetação rasteira pela qual ela pudesse se manifestar.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>8.   Oai – Morsa (Oiano)</h5>
                <text>a.        Mares</text><br>
                <text>b.        Navegação</text><br>
                <text>c.        Ilhas</text><br>
                <text>d.        Cataclismas</text><br>
                <text>e.        Tempestade</text><br>
                <text>f.        Neve</text><br>
                <text>g.        Força</text><br>
                <text>h. 	    Pesca</text><br>
                <p align="justify">Oai é o filho mais velho de Samko e Fran. Ele sempre teve problemas para controlar a fúria e, por isso, vivia discutindo com a mão. Certa vez, ela se cansou e o expulsou do continente. Assim, ele dominou as águas e ilhas. Mas, como manteve seu temperamento difícil, sempre provoca tempestades, cataclismas e nevascas horrendas.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>9.   Etaru – Castor (Etariano)</h5>
                <text>a.        Construção</text><br>
                <text>b.        Marcenaria</text><br>
                <text>c.        Metalurgia</text><br>
                <text>d.        Tecilaria</text><br>
                <text>e.        Ourivesaria</text><br>
                <text>f.        Serralheria</text><br>
                <text>g.        Curtume</text><br>
                <text>h. 	    Tinturaria</text><br>
                <p align="justify">Etaru é o filho mais novo de Samko e Fran e esposo de Dupavi. Como Samko e Fran quase não param em casa, Etaru foi criado na corte de Ura. Mais especificamente, junto de Prafo. Que o guiou e ensinou muitos ofícios. Assim, Etaru se tornou um excelente artesão e liderou a construção das muralhas de Kaus em troca da mão de Dupavi.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>10.               Dupavi – Gato (Dupaviano)</h5>
                <text>a.        Profecia</text><br>
                <text>b.        Futuro</text><br>
                <text>c.        Sonho</text><br>
                <text>d.        Destino</text><br>
                <text>e.        Descanso</text><br>
                <text>f.        Fé</text><br>
                <text>g.        Proteção nas ruas e cidades</text><br>
                <text>h. 	    Proteção noturna</text><br>
                <p align="justify">Dupavi é a filha mais nova de Ura e Fraine e esposa de Etaru. Como a maioria das travessuras Iorte e Ostun aconteciam à noite, Ura percebeu que precisava de alguém para auxiliá-lo no período. Como Prafo era seu conselheiro e Etaru vivia grudado com ele, sobrou a Dupavi o encargo de ajudá-lo. Garatindo um bom descanso aos deuses, e proteção noturna aos mortais.
                </p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>11.              Fran – Pato (Franiano)</h5>
                <text>a.        Voo</text><br>
                <text>b.        Curiosidade</text><br>
                <text>c.        Multitarefa</text><br>
                <text>d.        Calma</text><br>
                <text>e.        Destemor</text><br>
                <text>f.        Concentração</text><br>
                <text>g.        Perguntas</text><br>
                <text>h. 	    Passado</text><br>
                <p align="justify">Esposo de Samko e irmão de Frain e Iorte. Fran é um deus calado, conhecido por fazer muitas coisas ao mesmo tempo, mas de nunca perder o foco ou a cabeça. Em Kaus, quando um filho é muito diferente dos seus pais (normalmente sendo muito levado) ele é chamado de Oai, e o pai de Fran; como uma espécie de ditado ou gíria popular.</p>
            </div>
        </div>
        <img src = "/uploads/logopenumbra.png" class="rounded mx-auto d-block mb-1" alt="Responsive image" width="100">
        
            <h4 align = "center"><text class="text-kaus">Kaus:</text> Sistema Político</h4>
            <p align="center">Em breve ...</p>
    </div>
</body>
<%- include ("../partials/footer.ejs") %>