<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body class="body">
    <div class="container cb mt-2 mb-2">

        <ol class="breadcrumb bg-mb mt-4">
        <li class="breadcrumb-item">
            <a href="/pt" class="text-decoration-none">Início</a>
        </li>
        <li class="breadcrumb-item">Universo</li>
        <li class="breadcrumb-item active">Nidheim</li>
        </ol>
        <h4 align = "center"><text class="text-nidheim">Nidheim</text></h4>
        <p align="justify">Em meio às planícies gélidas e tundras, há uma civilização que, seguindo o puro significado da força e sobrevivência, é capaz de se sustentar. A tribo de Nidheim é caracterizada pelo valor do poder e, por muitos, seus membros são vistos como bárbaros que não se importam com nada além do conflito e da conquista.</p>
        <p align="justify">Diante do dragão, nem mesmo o gelo há de ser um obstáculo. A chama acesa em seu coração é capaz de superar todos os obstáculos e derreter tudo aquilo que busca se opor. Um membro de Nidheim jamais deixa-se superar e vê a força como o fator determinante em todos os casos. Se não pela derrota absoluta, jamais poderá se prostrar diante de outros, uma vez que a violência é o diálogo do mesmo.</p>

        <img src = "/uploads/logopenumbra.png" class="rounded mx-auto d-block mb-1" alt="Responsive image" width="100">
        
        <h4 align = "center"><text class="text-nidheim">Nidheim:</text> Crenças Nidlebens</h4>
        <p align="justify">Os nidlebens vêm de uma região fria e hostil; e assim os são seu povo e religião. Diferente de Kaus ou Uria que têm sistemas religiosos bem estipulados, regras de convivência formuladas e até nomes para as suas religiões, quase não há escritos sobre as crenças dos habitantes de Nidheim. Tudo o que sabemos, é passado através de canções e relatos.</p>
        <p align="justify">Sabe-se que eles crêem que há dois dragões divinos competindo. O senhor do frio e a senhora do calor; O senhor do frio é um terrível dragão prateado que aparentemente está levando a melhor; enquanto que a senhora do calor é uma dragão dourada e favorável aos humanos. Além dos deuses-dragões, existem uma porção de criaturas mágicas em seu folclore, algumas das quais, responsáveis pela criação e manutenção da vida e da morte.</p>
        <p align="justify">Abaixo, relatarei alguns dos contos que ajudam a situar um pouco melhor as suas crenças. São algumas canções antigas traduzidas diretamente do nidstil, o idioma nidleben.</p>
        
        <img src = "/uploads/logopenumbra.png" class="rounded mx-auto d-block mb-1" alt="Responsive image" width="100">
    
        <h4 align = "center"><text class="text-nidheim">Nidheim:</text> Sistema Político</h4>
        <p align="justify">Em Nidheim, não há governadores. Só existem 3 posições em que você pode estar: civil, escravo e sacerdote. Note-se que o civil não é o contrário de militar, mas de escravo. O sacerdote vive de doações do próprio povo (até mesmo recebendo escravos), e intermedia o contato com a Senhora do Calor, realiza festivais em dias comemorativos, funerais para aqueles que morrem fora do campo de batalha, assim por diante.</p>
    </div>
</body>
<%- include ("../partials/footer.ejs") %>