<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body class="body">
    <div class="container cb mt-2 mb-2">

        <ol class="breadcrumb bg-mb mt-4">
        <li class="breadcrumb-item">
            <a href="/pt">Início</a>
        </li>
        <li class="breadcrumb-item">Universo</li>
        <li class="breadcrumb-item active">Noh</li>
        </ol>
        <h4 align = "center"><text class="text-noh">Noh</text></h4>
        <p align="justify">Diante de todo o caos das estrelas, é evidente que as leis antigas começam a desabar. A natureza não mais se comporta da mesma maneira e as Gears são utilizadas imprudentemente, colocando o próprio mundo em risco. Em meio a esse caos, a vila de Noh se ergue com bravura, posicionando-se em favor do equilíbrio. O poder que chega à terra é, certamente, um risco, e por isso fazem-se necessários guardiões que visam manter a balança em igualdade.</p>
        <p align="justify">Os monges de Noh acreditam plenamente em sua própria iluminação e, apesar disso, buscam em si a profunda humildade para a preservação do ambiente. A águia, como seu símbolo, representa a visão necessária para que se possa manter o equilíbrio e, ao mesmo tempo, também a necessidade de mudança de vida para que essa função possa ser exercida através de um verdadeiro renascimento, o desprendimento de si mesmo.</p>

        <img src = "/uploads/logopenumbra.png" class="rounded mx-auto d-block mb-1" alt="Responsive image" width="100">
        
        <h4 align = "center"><text class="text-noh">Noh:</text> O Caminho</h4>
        <p align="justify">Noh foi erguida e roda em torno de uma coisa: iluminação. As noites são escuras quando a Lua não está no céu e as nuvens tapam as estrelas. E quando elas descem à Terra; é para nos iluminar mais de perto. Por isso que os nohitas se importam tanto com as Estrelas.</p>
        <p align="justify">Eles acreditam que as estrelas estão dando uma chance dos humanos atingirem a Iluminação ainda nessa vida (em vez de passar por inúmeras reencarnações), e que os Estrelas não devem ser usados para objetivos mesquinhos e egoístas. Não! O Ego deve sumir. O mundo precisa aprender a controlar tamanho poder ou Noh o tirará, assim como uma criança perde a tutoria de seu bichinho ao maltratá-lo.</p>
        <p align="justify">Nohitas não guerreiam; atingem a paz. A violência é algo que deve ser evitado a todo custo, especialmente para aqueles que querem atingir a Iluminação; mas, às vezes, se mostra necessária.</p>
        <p align="justify">O Caminho não tem deuses, criaturas místicas, nada. Só o Ser Humano e a Iluminação; um estado de sabedoria e poder absolutos que só são atingidos por poucos felizardos, após reencarnações se esforçando para tal.</p>
        
        <img src = "/uploads/logopenumbra.png" class="rounded mx-auto d-block mb-1" alt="Responsive image" width="100">
    
        <h4 align = "center"><text class="text-noh">Noh:</text> Sistema Político</h4>
        <p align="center">Em breve...</p>
    </div>
</body>
<%- include ("../partials/footer.ejs") %>